
/* Your CSS Code here. */
.holder{
	width:100%;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.item1{
	width:40px;
	height:40px;
	background:green;
}
.item2{
	width:40px;
	height:40px;
	background:red;
}
.item3{
	width:40px;
	height:40px;
	background:blue;
}